<!DOCTYPE html>
<html >
<head>
    <title>Store Manager</title>
    <meta charset="utf-8">
    <title><%= title %></title>
</head>

<body>
<p>HOLA MUNDO</p>
<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
</body>
</html>